{if $full_page}
<!-- $Id: msg_list.htm 15616 2009-02-18 05:16:22Z sunxiaodong $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<form method="POST" action="user_msg.php?act=batch_drop" name="listForm" onsubmit="return confirm_bath()">
  <!-- start article list -->
  <div class="list-div" id="listDiv">
    {/if}
    <table cellpadding="3" cellspacing="1">
      <tr>
        <th><a href=" ">编号</a></th>
        <th><a href=" ">城市</a></th>
        <th><a href=" ">公司名称</a></th>
        <th><a href=" ">公司地址</a></th>
        <th><a href=" ">公司人数</a></th>
        <th><a href=" ">联系人</a></th>
        <th><a href=" ">联系方式</a></th>
        <th><a href=" ">推荐人手机</a></th>
      </tr>
      {foreach from =$msg_list item=msg}
      <tr>
        <td align="center">{$msg.id}</td>
        <td align="center">{$msg.city}</td>
        <td align="center">{$msg.company}</td>
        <td align="center">{$msg.address}</td>
        <td align="center">{$msg.num}</td>
        <td align="center">{$msg.name}</td>
        <td align="center">{$msg.tel}</td>
        <td align="center">{$msg.rec_tel}</td>
      </tr>
      {foreachelse}
      <tr><td class="no-records" colspan="7">{$lang.no_records}</td></tr>
      {/foreach}
    </table>
    <table id="page-table" cellspacing="0">
      <tr>
        <td><div>
        <td align="right" nowrap="true">
          {insert_scripts files="../js/utils.js"}
          <div id="turn-page">
            {$lang.total_records} <span id="totalRecords">{$record_count}</span>
            {$lang.total_pages} <span id="totalPages">{$page_count}</span>
            {$lang.page_current} <span id="pageCurrent">{$filter.page}</span>
            {$lang.page_size} <input type='text' size='3' id='pageSize' value="{$filter.page_size}" onkeypress="return listTable.changePageSize(event)" />
            <span id="page-link">
          {literal}<a href="javascript:listTable.gotoPageFirst()">{/literal}{$lang.page_first}</a>
          {literal}<a href="javascript:listTable.gotoPagePrev()">{/literal}{$lang.page_prev}</a>
          {literal}<a href="javascript:listTable.gotoPageNext()">{/literal}{$lang.page_next}</a>
          {literal}<a href="javascript:listTable.gotoPageLast()">{/literal}{$lang.page_last}</a>
          <select id="gotoPage" onchange="listTable.gotoPage(this.value)">
            {create_pages count=$page_count page=$filter.page}
          </select>
        </span>
          </div>
        </td>
      </tr>
    </table>
    {if $full_page}
  </div>
  <!-- end article list -->
</form>
<script type="text/javascript" language="JavaScript">
    listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};
    cfm = new Object();
    cfm['allow'] = '{$lang.cfm_allow}';
    cfm['remove'] = '{$lang.cfm_remove}';
    cfm['deny'] = '{$lang.cfm_deny}';
    {foreach from=$filter item=item key=key}
    listTable.filter.{$key} = '{$item}';
    {/foreach}
        {literal}
    <!--
        onload = function()
    {
        document.forms['searchForm'].elements['keyword'].focus();
        // 开始检查订单
        startCheckOrder();
    }

        /**
         * 搜索标题
         */
        function searchMsg()
        {
            var keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
            var msgType = document.forms['searchForm'].elements['msg_type'].value;

            listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
            listTable.filter['msg_type'] = document.forms['searchForm'].elements['msg_type'].value;
            listTable.filter['page'] = 1;
            listTable.loadList();
        }

        function confirm_bath()
        {
            var action = document.forms['listForm'].elements['sel_action'].value;
            if (action == 'allow'||action == 'remove'||action == 'deny')
            {
                return confirm(cfm[action]);
            }
        }
    //-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}